<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <style>
        em.red {
            color: crimson;
        }
        img.pfp {
            border-radius: 75px ;
            width: 150px;
            margin: 10px;
            display: block; margin: auto;
        }
        body {
            background-color: slateblue;
        }
        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div><img class="pfp" src="photos/shikanoko.jpg" alt="github pfp">
    <hr>
    <h1>Dzhamshitov Danial</h1>
    <p>This is me,im a <em class="red"><strong>BACKEND</strong></em> developer</p>
    <a  href="https://github.com/DzhamshitovDanial">My GitHub </a>
    <br> <hr>
    <a href="password_generator.py">My password generator project</a>
    <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
</ul>
    </div>
</body>
</html>