<!doctype html>
<html lang="en">
  <head>
    <title>My first website</title>
    <style>
      img {
        width: 500px;
        border-radius: 250px;
        float: left;
        margin-right: 30px;
      }
      p.instagram {
        font-weight: bold;
      }
      em.instgram {
        color: blueviolet;
        
      }
    </style>
  </head>
  <body>
    <img src="photos/baaa515ff41986cc9f4ac5ec53483498.jpg" alt="imge of Waguri" />
    <a href="#Ryo">download photo of Ryo</a>
    <h1>MY NAME IS DANIAL &copy;</h1>
    <h2>This is Waguri</h2>
    <a href="https://youtu.be/1FcVJxxPWh4?si=KdU0PZ3vOhLdV2Ex">TRAILER OF ANIME</a>
    <p>Best anime</p>
    <h2>This code was written with HTML</h2>
    <P>AND CSS</P>
    <p class="instagram">@ddzhamshitov</p>
    <p><em>This is my</em> <strong> <em class="instagram">instagram</em></strong></p>
    <a id="Ryo" href="photos/a8516f10679a22dd270ec1fa638eda8a.jpg" download=""><em class="instgram">Photo of Ryo</em></a>
    <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
</ul>
  </body>
</html>
